<!-- <table border="2">
    <tr>
        <td>ID</td>
        <td>TITLE</td>
        <td>USERID</td>
        <td>BODY</td>
    </tr>
    <tr *ngFor="let e of li">
        <td>{{e.id}}</td>
        <td>{{e.title}}</td>
        <td>{{e.userId}}</td>
        <td>{{e.body}}</td>
    </tr>
</table> -->
<!-- <ul>
    <li><a routerLink="login">Login</a></li>
    <li><a routerLink="signup">signup</a></li>
</ul>
<router-outlet></router-outlet> -->
<h1>admin page</h1>
<ul>
    <li>
        <a routerLink="a/lo">Login</a><br>
    </li>
    <li>
        <a routerLink="a/si">SignUp</a>
    </li>
</ul>
<h1>uSER page</h1>
<ul>
    <li>
        <a routerLink="u/lo">Login</a><br>
    </li>
    <li>
        <a routerLink="u/li">SignUp</a>
    </li>
</ul>

<router-outlet></router-outlet>